
<h1 class="row justify-content-center py-3">VOTING</h1>
<div class="container pb-4">
  <div class="row">
    <div class="col-xl-6 d-flex">
      <mat-form-field class="example-full-width d-flex col-10" appearance="fill">
        <mat-label>Voter</mat-label>
        <input matInput placeholder="Voter Name" [(ngModel)]="voterNameInput">
      </mat-form-field><button class="d-flex my-3 col-2 justify-content-center py-2" mat-flat-button color="primary" (click)="addVoter()">Add</button>
    </div>
    <div class="col-xl-6 d-flex">
      <mat-form-field class="example-full-width d-flex col-10" appearance="fill">
        <mat-label>Candidate</mat-label>
        <input matInput placeholder="Candidate name" [(ngModel)]="candidateNameInput">
      </mat-form-field><button class="d-flex my-3 col-2 justify-content-center py-2" mat-flat-button color="primary" (click)="addCandidate()">Add</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xl-6 pb-4">
      <h3 class="pb-1">Voters:</h3>
      <div class="row pb-2">
        <h4 class="col-8 border-bottom">Name</h4>
        <h4 class="col-4 border-bottom">Voted</h4>
      </div>
      <div class="row pb-2" *ngFor="let voter of voters">
        <div class="col-8">{{ voter.name }}</div>
        <div class="col-4">
          <mat-icon *ngIf="voter.voted">check_circle_outline</mat-icon>
          <mat-icon *ngIf="!voter.voted">highlight_off</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <h3 class="pb-1">Candidates:</h3>
      <div class="row pb-2">
        <h4 class="col-8 border-bottom">Name</h4>
        <h4 class="col-4 pl-1 border-bottom">Votes</h4>
      </div>
      <div class="row pb-2" *ngFor="let candidate of candidates">
        <div class="col-8">{{ candidate.name }}</div>
        <div class="col-4">{{ candidate.votes }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container col pt-4">
  <div class="row justify-content-center">
    <p *ngIf="voted" class="warn">You already voted!</p>
    <h3 class="mb-0">I'm:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Voter</mat-label>
      <mat-select  [disabled]="voters.length === 0" [(ngModel)]="voterSelectValue">
        <mat-option></mat-option>
        <mat-option *ngFor="let voter of voters" [value]="voter.name">{{ voter.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <h3 class="mb-0">voting for:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Candidate</mat-label>
      <mat-select [disabled]="candidates.length === 0" [(ngModel)]="candidateSelectValue">
        <mat-option></mat-option>
        <mat-option *ngFor="let candidate of candidates" [value]="candidate.name">{{ candidate.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="col-4 my-3" [disabled]="voted || !voterSelectValue || !candidateSelectValue" (click)="vote()" mat-flat-button color="primary">Vote</button>
  </div>
</div>
